body {
  background-color: #141414;
}

.card {
  // border: 2px solid #00ff00;
  border: 2px solid yellow;
  margin: 10px;
  height: 100px;
  border-radius: 5px;
  // background-color: black;

  &:hover {
    cursor: pointer;
  }
}

div {
  visibility: visible;

  img {
    width: 150px;
    height: 100px;
    object-fit: contain;
    // visibility: hidden;
  }
}

.res {
  display: flex;
  justify-content: center;
  margin-top: 10px;

  button {
    // position: fixed;
    bottom: 30px;
  }
}
#board {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 800px;
  height: 540px;
  padding: 24px;
  margin: 0px auto;
  // background-color: black;
  border: 0.5px solid white;
  border-radius: 10px;
}

.flex {
  display: flex;
  align-items: flex-end;
  margin-bottom: 0;
}

button {
  padding: 20px;
  background-color: orange;
  color: white;
}

button:hover {
  cursor: pointer;
}

// #restart{
//   // position: fixed;
//   // bottom: 0;
//   // border:2px solid red;
// }

.flex {
  height: 100px;
  //  border: 2px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
}

#modal2{
  left:0;
  top: 0;
  overflow: auto;

  .modal-content-2{
    background-color: red;
    text-align: center;
  }

  #close2{
    color:lightgrey;
    font-size:30px;
    float:right;
  }
}

.flex{
  display: flex;
  justify-content: flex-start;
}
.text{
  color:white;
  width: 80px;
  margin-left: 200px;
  font-size: 20px;
}
#moves{
  color: white;
  width: 200px;
  font-size: 20px;
  
}
#modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}
#instructions{
  margin-left: 30px;
  display: flex;
  align-items: center;
  color:white;
  border: 2px solid white;
  border-top: hidden;
  border-left: hidden;
  border-right: hidden;
  display: inline-block;
  font-family: 'Indie Flower', ;
  font-size:30px;
  // height:400px;

}

#instructions:hover{
  cursor: pointer;
}
p{
  color: white;
  font-size:20px;
  font-family: 'Indie Flower', ;
}
.time {
  display:flex;
  justify-content: center;
  font-size:30px;
  #timer {
    color: white;
  }
}
.modal-content {
  background-color: lightgrey;
  margin: 20% auto;
  padding: 20px;
  width: 70%;
  text-align: center;
  margin: auto auto;

  span {
    float: right;
    font-size: 30px;
    color: black;

   
    }
    #again {
      text-align: center;
      margin: auto auto;
    }
  }
  .modal1 {
    text-align: center;
    color: black;

    i{
      background-color: yellow;
      margin: 10px;
    }
  }

span:hover {
  cursor: pointer;
  color: black;
}
