

.card {
  border: 2px solid grey;
  height: 100px;
 
}

div{
  visibility: visible;


  
img{
  width: 150px;
  height:100px;
  object-fit:contain;
  // visibility: hidden;
  
}
}


.flex {
  display: flex;
  justify-content: center;
  
  button {
    position: fixed;
    bottom: 30px;
  }

}
#board{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background:lightgrey;
    width: 800px;
    height: 540px;
    padding: 24px;
    margin: 0px auto;
}
 
